ul {

    float:right; 
}

h2 {
    padding: 2%;
    text-align: center;
}

ol {
    float:center; 
}

.container {
   width: 65%; 
}

body {
    background-color: rgb(202, 228, 240);
}

a {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
 padding-left: 1%;
 align-items: center;

}

.navbar-brand {

    font-size: 160%; 

}